<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{% block title %}Power{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    
    {% load static %}
    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/icofont/dist/icofont.min.css">

    {% block extra_css %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">

    {% comment %} <!-- Messages -->
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %} {% endcomment %}

    <!-- Header -->
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
            <a href="" class="logo d-flex align-items-center me-auto me-lg-0">
                <h1 class="sitename">Power Pulse</h1>
                <span>.</span>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="{% url "pages:home" %}" class="{% block nav_home_active %}{% endblock %}">Home</a></li>
                    <li><a href="#about" class="{% block nav_about_active %}{% endblock %} scroll-to">About</a></li>
                    <li><a href="" class="{% block nav_services_active %}{% endblock %}">Services</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="">Profile</a></li>
                        <li><a href="{% url "account_logout" %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url "account_login" %}">Login</a></li>
                        <li><a href="{% url "account_signup" %}">Sign Up</a></li>
                    {% endif %}
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>
            {% load custom_filters %}
            {% if user.is_authenticated %}
                <div class="welcome-message">
                    <span style="color: #ffc451;">Welcome, {{ user.username|first_part }}!</span>
                </div>
            {% else %}
                <a class="btn-getstarted" href="{% url 'account_login' %}">Get Started</a>
            {% endif %}
        </div>
    </header>

    <main class="main">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer id="footer" class="footer dark-background">
        <div class="footer-top">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-4 col-md-6 footer-about">
                        <a href="" class="logo d-flex align-items-center">
                            <span class="sitename">Power Pulse</span>
                        </a>
                        <div class="footer-contact pt-3">
                            <p>iran, Boroujerd</p>
                            <p><strong>Email:</strong> <span>manisasani2005@gmail.com</span></p>
                        </div>
                        <div class="social-links d-flex mt-4">
                            <a href="https://t.me/ManiSasani"><i class="bi bi-telegram"></i></a>
                            <a href="https://www.instagram.com/manisasanii/"><i class="bi bi-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/manisasani/"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="">Home</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="">About us</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="">Services</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="">Terms of service</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="">Privacy policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright">
            <div class="container text-center">
                <p>© <span>Copyright</span> <strong class="px-1 sitename">Power Pulse</strong> <span>All Rights Reserved</span></p>
            </div>
        </div>
    </footer>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>

    <!-- Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>