@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?kktdv7');
  src: url('../fonts/icomoon.eot?kktdv7#iefix') format('embedded-opentype'),
       url('../fonts/icomoon.ttf?kktdv7') format('truetype'),
       url('../fonts/icomoon.woff?kktdv7') format('woff'),
       url('../fonts/icomoon.svg?kktdv7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-box span.icon-gym {
  display: inline-block;
  font-size: 45px;
  color: #fff;
}

.icon-gym:before {
  content: "\e900";
}
.test-icon {
  font-family: 'icomoon';
  font-size: 30px;
}
.test-icon:before {
  content: "\e900";
}